@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=VT323&display=swap');

:root {
  --main-color: #040a04;
  --main-bc-color: white !important;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  font-size: 24px;
  font-weight: 100;
  color: var(--main-color);
  box-sizing: border-box;
}

*::selection {
  background-color: white;
  color: var(--main-bc-color);
}

body {
  background-color: var(--main-bc-color);
}

main {
  max-width: 1200px;
  max-height: 100vh;
}

/* BUTTON STYLES */
.default-button {
  background-color: var(--main-bc-color);
  border-top: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
  border-right: 3px solid var(--main-color);
  color: var(--main-color);
  padding: 0.3rem 0.4rem;
  font-weight: 800;
}

.default-button:active {
  border-top: 3px solid var(--main-color);
  border-left: 3px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}
